=begin
#Yext API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module Yext
  class KnowledgeManagerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Assets: Create
    # Creates a new asset in an account.  **NOTE:** * If the **`v`** parameter is on or before `20190624`: only the first folder the Asset is available for will be returned in the legacy **`folderId`** field. * If the **`v`** parameter is after `20190624`: the complete list of folders the Asset is available to will be returned in the new **`folderIds`** field. **`folderId`** will not be returned. 
    # @param account_id [String] 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param format [String] The formatting langauge used to parse rich text field values. Present if and only if type of field is \&quot;**Rich Text**.\&quot;  Valid values:   * &#x60;markdown&#x60;   * &#x60;html&#x60; 
    # @param asset [Asset] 
    # @param [Hash] opts the optional parameters
    # @return [IdResponse]
    def create_asset(account_id, v, format, asset, opts = {})
      data, _status_code, _headers = create_asset_with_http_info(account_id, v, format, asset, opts)
      data
    end

    # Assets: Create
    # Creates a new asset in an account.  **NOTE:** * If the **&#x60;v&#x60;** parameter is on or before &#x60;20190624&#x60;: only the first folder the Asset is available for will be returned in the legacy **&#x60;folderId&#x60;** field. * If the **&#x60;v&#x60;** parameter is after &#x60;20190624&#x60;: the complete list of folders the Asset is available to will be returned in the new **&#x60;folderIds&#x60;** field. **&#x60;folderId&#x60;** will not be returned. 
    # @param account_id [String] 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param format [String] The formatting langauge used to parse rich text field values. Present if and only if type of field is \&quot;**Rich Text**.\&quot;  Valid values:   * &#x60;markdown&#x60;   * &#x60;html&#x60; 
    # @param asset [Asset] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IdResponse, Integer, Hash)>] IdResponse data, response status code and response headers
    def create_asset_with_http_info(account_id, v, format, asset, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.create_asset ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.create_asset"
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.create_asset"
      end
      # verify the required parameter 'format' is set
      if @api_client.config.client_side_validation && format.nil?
        fail ArgumentError, "Missing the required parameter 'format' when calling KnowledgeManagerApi.create_asset"
      end
      if @api_client.config.client_side_validation && format.to_s.length < 0
        fail ArgumentError, 'invalid value for "format" when calling KnowledgeManagerApi.create_asset, the character length must be great than or equal to 0.'
      end

      # verify the required parameter 'asset' is set
      if @api_client.config.client_side_validation && asset.nil?
        fail ArgumentError, "Missing the required parameter 'asset' when calling KnowledgeManagerApi.create_asset"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/assets'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v
      query_params[:'format'] = format

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(asset)

      # return_type
      return_type = opts[:debug_return_type] || 'IdResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.create_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#create_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bios: Create
    # Create new Bio List.
    # @param account_id [String] 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param bio [Bio] 
    # @param [Hash] opts the optional parameters
    # @return [IdResponse]
    def create_bio(account_id, v, bio, opts = {})
      data, _status_code, _headers = create_bio_with_http_info(account_id, v, bio, opts)
      data
    end

    # Bios: Create
    # Create new Bio List.
    # @param account_id [String] 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param bio [Bio] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IdResponse, Integer, Hash)>] IdResponse data, response status code and response headers
    def create_bio_with_http_info(account_id, v, bio, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.create_bio ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.create_bio"
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.create_bio"
      end
      # verify the required parameter 'bio' is set
      if @api_client.config.client_side_validation && bio.nil?
        fail ArgumentError, "Missing the required parameter 'bio' when calling KnowledgeManagerApi.create_bio"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/bios'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/kjson'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bio)

      # return_type
      return_type = opts[:debug_return_type] || 'IdResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.create_bio",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#create_bio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Custom Fields: Create
    # Creates a new Custom Field in an Account. 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param account_id [String] 
    # @param field [Field] 
    # @param [Hash] opts the optional parameters
    # @return [IdResponse]
    def create_custom_field(v, account_id, field, opts = {})
      data, _status_code, _headers = create_custom_field_with_http_info(v, account_id, field, opts)
      data
    end

    # Custom Fields: Create
    # Creates a new Custom Field in an Account. 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param account_id [String] 
    # @param field [Field] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IdResponse, Integer, Hash)>] IdResponse data, response status code and response headers
    def create_custom_field_with_http_info(v, account_id, field, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.create_custom_field ...'
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.create_custom_field"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.create_custom_field"
      end
      # verify the required parameter 'field' is set
      if @api_client.config.client_side_validation && field.nil?
        fail ArgumentError, "Missing the required parameter 'field' when calling KnowledgeManagerApi.create_custom_field"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/customfields'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(field)

      # return_type
      return_type = opts[:debug_return_type] || 'IdResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.create_custom_field",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#create_custom_field\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Entities: Create
    # Create a new Entity  **NOTE:**   * If the **`v`** parameter is before `20181129`: the 201 response contains the created Entity's **`id`**   * If the **`v`** parameter is on or after `20181129`: the 201 response contains the created Entity in its entirety 
    # @param account_id [String] 
    # @param entity_type [String] The type of entity to be created. Should be one of the following:   * &#x60;atm&#x60;   * &#x60;event&#x60;   * &#x60;faq&#x60;   * &#x60;financialProfessional&#x60;   * &#x60;healthcareFacility&#x60;   * &#x60;healthcareProfessional&#x60;   * &#x60;hotel&#x60;   * &#x60;hotelRoomType&#x60;   * &#x60;job&#x60;   * &#x60;location&#x60;   * &#x60;organization&#x60;   * &#x60;product&#x60;   * &#x60;restaurant&#x60;  OR the API name of a custom entity type. 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param entity_write [EntityWrite] The entity to be created
    # @param [Hash] opts the optional parameters
    # @option opts [String] :format The formatting language used to parse rich text field values. Present and **required** if an only if the request contains a field with type \&quot;**Rich Text**.\&quot;  Valid values:   * &#x60;markdown&#x60;   * &#x60;html&#x60;  (default to 'markdown')
    # @option opts [Boolean] :strip_unsupported_formats Optional parameter to strip unsupported formats in rich text fields. When this parameter is included, the unsupported formats in rich text fields will be stripped and saved as plain text; otherwise if this parameter is not included, unsupported formats will return an error. 
    # @option opts [String] :template_fields Comma-separated list of top-level fields to apply from the template. If provided, only the fields specified will be applied to the entity.  Ignored if **&#x60;templateId&#x60;** is not provided. 
    # @option opts [String] :template_id The ID of the template to apply to the entity  **NOTE:** Some fields that are part of the provided template but not present in the API will be applied - e.g. Linked Accounts 
    # @return [InlineResponse201]
    def create_entity(account_id, entity_type, v, entity_write, opts = {})
      data, _status_code, _headers = create_entity_with_http_info(account_id, entity_type, v, entity_write, opts)
      data
    end

    # Entities: Create
    # Create a new Entity  **NOTE:**   * If the **&#x60;v&#x60;** parameter is before &#x60;20181129&#x60;: the 201 response contains the created Entity&#39;s **&#x60;id&#x60;**   * If the **&#x60;v&#x60;** parameter is on or after &#x60;20181129&#x60;: the 201 response contains the created Entity in its entirety 
    # @param account_id [String] 
    # @param entity_type [String] The type of entity to be created. Should be one of the following:   * &#x60;atm&#x60;   * &#x60;event&#x60;   * &#x60;faq&#x60;   * &#x60;financialProfessional&#x60;   * &#x60;healthcareFacility&#x60;   * &#x60;healthcareProfessional&#x60;   * &#x60;hotel&#x60;   * &#x60;hotelRoomType&#x60;   * &#x60;job&#x60;   * &#x60;location&#x60;   * &#x60;organization&#x60;   * &#x60;product&#x60;   * &#x60;restaurant&#x60;  OR the API name of a custom entity type. 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param entity_write [EntityWrite] The entity to be created
    # @param [Hash] opts the optional parameters
    # @option opts [String] :format The formatting language used to parse rich text field values. Present and **required** if an only if the request contains a field with type \&quot;**Rich Text**.\&quot;  Valid values:   * &#x60;markdown&#x60;   * &#x60;html&#x60; 
    # @option opts [Boolean] :strip_unsupported_formats Optional parameter to strip unsupported formats in rich text fields. When this parameter is included, the unsupported formats in rich text fields will be stripped and saved as plain text; otherwise if this parameter is not included, unsupported formats will return an error. 
    # @option opts [String] :template_fields Comma-separated list of top-level fields to apply from the template. If provided, only the fields specified will be applied to the entity.  Ignored if **&#x60;templateId&#x60;** is not provided. 
    # @option opts [String] :template_id The ID of the template to apply to the entity  **NOTE:** Some fields that are part of the provided template but not present in the API will be applied - e.g. Linked Accounts 
    # @return [Array<(InlineResponse201, Integer, Hash)>] InlineResponse201 data, response status code and response headers
    def create_entity_with_http_info(account_id, entity_type, v, entity_write, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.create_entity ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.create_entity"
      end
      if @api_client.config.client_side_validation && account_id.to_s.length < 0
        fail ArgumentError, 'invalid value for "account_id" when calling KnowledgeManagerApi.create_entity, the character length must be great than or equal to 0.'
      end

      # verify the required parameter 'entity_type' is set
      if @api_client.config.client_side_validation && entity_type.nil?
        fail ArgumentError, "Missing the required parameter 'entity_type' when calling KnowledgeManagerApi.create_entity"
      end
      if @api_client.config.client_side_validation && entity_type.to_s.length < 0
        fail ArgumentError, 'invalid value for "entity_type" when calling KnowledgeManagerApi.create_entity, the character length must be great than or equal to 0.'
      end

      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.create_entity"
      end
      if @api_client.config.client_side_validation && v.to_s.length < 0
        fail ArgumentError, 'invalid value for "v" when calling KnowledgeManagerApi.create_entity, the character length must be great than or equal to 0.'
      end

      # verify the required parameter 'entity_write' is set
      if @api_client.config.client_side_validation && entity_write.nil?
        fail ArgumentError, "Missing the required parameter 'entity_write' when calling KnowledgeManagerApi.create_entity"
      end
      if @api_client.config.client_side_validation && !opts[:'format'].nil? && opts[:'format'].to_s.length < 0
        fail ArgumentError, 'invalid value for "opts[:"format"]" when calling KnowledgeManagerApi.create_entity, the character length must be great than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'template_fields'].nil? && opts[:'template_fields'].to_s.length < 0
        fail ArgumentError, 'invalid value for "opts[:"template_fields"]" when calling KnowledgeManagerApi.create_entity, the character length must be great than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'template_id'].nil? && opts[:'template_id'].to_s.length < 0
        fail ArgumentError, 'invalid value for "opts[:"template_id"]" when calling KnowledgeManagerApi.create_entity, the character length must be great than or equal to 0.'
      end

      # resource path
      local_var_path = '/accounts/{accountId}/entities'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'entityType'] = entity_type
      query_params[:'v'] = v
      query_params[:'format'] = opts[:'format'] if !opts[:'format'].nil?
      query_params[:'stripUnsupportedFormats'] = opts[:'strip_unsupported_formats'] if !opts[:'strip_unsupported_formats'].nil?
      query_params[:'templateFields'] = opts[:'template_fields'] if !opts[:'template_fields'].nil?
      query_params[:'templateId'] = opts[:'template_id'] if !opts[:'template_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(entity_write)

      # return_type
      return_type = opts[:debug_return_type] || 'InlineResponse201'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.create_entity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#create_entity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Events (Legacy): Create
    # Create a new Event List.
    # @param account_id [String] 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param event [Event] 
    # @param [Hash] opts the optional parameters
    # @return [IdResponse]
    def create_event(account_id, v, event, opts = {})
      data, _status_code, _headers = create_event_with_http_info(account_id, v, event, opts)
      data
    end

    # Events (Legacy): Create
    # Create a new Event List.
    # @param account_id [String] 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param event [Event] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IdResponse, Integer, Hash)>] IdResponse data, response status code and response headers
    def create_event_with_http_info(account_id, v, event, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.create_event ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.create_event"
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.create_event"
      end
      # verify the required parameter 'event' is set
      if @api_client.config.client_side_validation && event.nil?
        fail ArgumentError, "Missing the required parameter 'event' when calling KnowledgeManagerApi.create_event"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/events'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/kjson'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(event)

      # return_type
      return_type = opts[:debug_return_type] || 'IdResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.create_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#create_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Locations (Legacy): Create
    # Create a new Location.   ## Required fields * **`locationName`** * **`address`** * **`city`** * **`state`** * **`zip`**   ## Optional fields that trigger warnings Submitting invalid values for certain optional fields will not trigger an error response. Instead, the success response will contain warning messages explaining why the invalid optional values were not stored in the system. The fields that generate warning messages are: <br><br> * **`logo`** * **`photos`** * **`twitterHandle`** * **`facebookPageUrl`** * **`languages`** 
    # @param account_id [String] 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param location [Location] 
    # @param [Hash] opts the optional parameters
    # @return [IdResponse]
    def create_location(account_id, v, location, opts = {})
      data, _status_code, _headers = create_location_with_http_info(account_id, v, location, opts)
      data
    end

    # Locations (Legacy): Create
    # Create a new Location.   ## Required fields * **&#x60;locationName&#x60;** * **&#x60;address&#x60;** * **&#x60;city&#x60;** * **&#x60;state&#x60;** * **&#x60;zip&#x60;**   ## Optional fields that trigger warnings Submitting invalid values for certain optional fields will not trigger an error response. Instead, the success response will contain warning messages explaining why the invalid optional values were not stored in the system. The fields that generate warning messages are: &lt;br&gt;&lt;br&gt; * **&#x60;logo&#x60;** * **&#x60;photos&#x60;** * **&#x60;twitterHandle&#x60;** * **&#x60;facebookPageUrl&#x60;** * **&#x60;languages&#x60;** 
    # @param account_id [String] 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param location [Location] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IdResponse, Integer, Hash)>] IdResponse data, response status code and response headers
    def create_location_with_http_info(account_id, v, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.create_location ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.create_location"
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.create_location"
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling KnowledgeManagerApi.create_location"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/locations'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(location)

      # return_type
      return_type = opts[:debug_return_type] || 'IdResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.create_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#create_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Menus: Create
    # @param account_id [String] 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param menu [Menu] 
    # @param [Hash] opts the optional parameters
    # @return [IdResponse]
    def create_menu(account_id, v, menu, opts = {})
      data, _status_code, _headers = create_menu_with_http_info(account_id, v, menu, opts)
      data
    end

    # Menus: Create
    # @param account_id [String] 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param menu [Menu] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IdResponse, Integer, Hash)>] IdResponse data, response status code and response headers
    def create_menu_with_http_info(account_id, v, menu, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.create_menu ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.create_menu"
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.create_menu"
      end
      # verify the required parameter 'menu' is set
      if @api_client.config.client_side_validation && menu.nil?
        fail ArgumentError, "Missing the required parameter 'menu' when calling KnowledgeManagerApi.create_menu"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/menus'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(menu)

      # return_type
      return_type = opts[:debug_return_type] || 'IdResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.create_menu",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#create_menu\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Products: Create
    # Create a new Product List.
    # @param account_id [String] 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param product [Product] 
    # @param [Hash] opts the optional parameters
    # @return [IdResponse]
    def create_product(account_id, v, product, opts = {})
      data, _status_code, _headers = create_product_with_http_info(account_id, v, product, opts)
      data
    end

    # Products: Create
    # Create a new Product List.
    # @param account_id [String] 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param product [Product] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IdResponse, Integer, Hash)>] IdResponse data, response status code and response headers
    def create_product_with_http_info(account_id, v, product, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.create_product ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.create_product"
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.create_product"
      end
      # verify the required parameter 'product' is set
      if @api_client.config.client_side_validation && product.nil?
        fail ArgumentError, "Missing the required parameter 'product' when calling KnowledgeManagerApi.create_product"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/products'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/kjson'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(product)

      # return_type
      return_type = opts[:debug_return_type] || 'IdResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.create_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#create_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assets: Delete
    # Delete a specific asset.
    # @param account_id [String] 
    # @param asset_id [String] 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @return [EmptyResponse]
    def delete_asset(account_id, asset_id, v, opts = {})
      data, _status_code, _headers = delete_asset_with_http_info(account_id, asset_id, v, opts)
      data
    end

    # Assets: Delete
    # Delete a specific asset.
    # @param account_id [String] 
    # @param asset_id [String] 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyResponse, Integer, Hash)>] EmptyResponse data, response status code and response headers
    def delete_asset_with_http_info(account_id, asset_id, v, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.delete_asset ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.delete_asset"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling KnowledgeManagerApi.delete_asset"
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.delete_asset"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/assets/{assetId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.delete_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#delete_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bios: Delete
    # Delete an existing Bios List.
    # @param account_id [String] 
    # @param list_id [String] ID of this List.
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @return [EmptyResponse]
    def delete_bio_list(account_id, list_id, v, opts = {})
      data, _status_code, _headers = delete_bio_list_with_http_info(account_id, list_id, v, opts)
      data
    end

    # Bios: Delete
    # Delete an existing Bios List.
    # @param account_id [String] 
    # @param list_id [String] ID of this List.
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyResponse, Integer, Hash)>] EmptyResponse data, response status code and response headers
    def delete_bio_list_with_http_info(account_id, list_id, v, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.delete_bio_list ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.delete_bio_list"
      end
      # verify the required parameter 'list_id' is set
      if @api_client.config.client_side_validation && list_id.nil?
        fail ArgumentError, "Missing the required parameter 'list_id' when calling KnowledgeManagerApi.delete_bio_list"
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.delete_bio_list"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/bios/{listId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'listId' + '}', CGI.escape(list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.delete_bio_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#delete_bio_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Custom Fields: Delete
    # Deletes a Custom Field in an Account.  The Custom Field will be removed from all locations, and all content entered in the Custom Field will be deleted permanently. 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param account_id [String] 
    # @param custom_field_id [String] ID that should be used when referencing the field in API calls. This ID will also serve as the Custom Field&#39;s key in our upcoming Entities API endpoints. Note that the Custom Fields can still be accessed using their numeric **&#x60;id&#x60;** by invoking the endpoints with a **&#x60;v&#x60;** param before &#x60;20180809&#x60;.  
    # @param [Hash] opts the optional parameters
    # @return [EmptyResponse]
    def delete_custom_field(v, account_id, custom_field_id, opts = {})
      data, _status_code, _headers = delete_custom_field_with_http_info(v, account_id, custom_field_id, opts)
      data
    end

    # Custom Fields: Delete
    # Deletes a Custom Field in an Account.  The Custom Field will be removed from all locations, and all content entered in the Custom Field will be deleted permanently. 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param account_id [String] 
    # @param custom_field_id [String] ID that should be used when referencing the field in API calls. This ID will also serve as the Custom Field&#39;s key in our upcoming Entities API endpoints. Note that the Custom Fields can still be accessed using their numeric **&#x60;id&#x60;** by invoking the endpoints with a **&#x60;v&#x60;** param before &#x60;20180809&#x60;.  
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyResponse, Integer, Hash)>] EmptyResponse data, response status code and response headers
    def delete_custom_field_with_http_info(v, account_id, custom_field_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.delete_custom_field ...'
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.delete_custom_field"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.delete_custom_field"
      end
      # verify the required parameter 'custom_field_id' is set
      if @api_client.config.client_side_validation && custom_field_id.nil?
        fail ArgumentError, "Missing the required parameter 'custom_field_id' when calling KnowledgeManagerApi.delete_custom_field"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/customfields/{customFieldId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'customFieldId' + '}', CGI.escape(custom_field_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.delete_custom_field",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#delete_custom_field\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Entities: Delete
    # Delete the Entity with the given ID
    # @param account_id [String] 
    # @param entity_id [String] The external ID of the requested Entity
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2001]
    def delete_entity(account_id, entity_id, v, opts = {})
      data, _status_code, _headers = delete_entity_with_http_info(account_id, entity_id, v, opts)
      data
    end

    # Entities: Delete
    # Delete the Entity with the given ID
    # @param account_id [String] 
    # @param entity_id [String] The external ID of the requested Entity
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2001, Integer, Hash)>] InlineResponse2001 data, response status code and response headers
    def delete_entity_with_http_info(account_id, entity_id, v, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.delete_entity ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.delete_entity"
      end
      if @api_client.config.client_side_validation && account_id.to_s.length < 0
        fail ArgumentError, 'invalid value for "account_id" when calling KnowledgeManagerApi.delete_entity, the character length must be great than or equal to 0.'
      end

      # verify the required parameter 'entity_id' is set
      if @api_client.config.client_side_validation && entity_id.nil?
        fail ArgumentError, "Missing the required parameter 'entity_id' when calling KnowledgeManagerApi.delete_entity"
      end
      if @api_client.config.client_side_validation && entity_id.to_s.length < 0
        fail ArgumentError, 'invalid value for "entity_id" when calling KnowledgeManagerApi.delete_entity, the character length must be great than or equal to 0.'
      end

      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.delete_entity"
      end
      if @api_client.config.client_side_validation && v.to_s.length < 0
        fail ArgumentError, 'invalid value for "v" when calling KnowledgeManagerApi.delete_entity, the character length must be great than or equal to 0.'
      end

      # resource path
      local_var_path = '/accounts/{accountId}/entities/{entityId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'entityId' + '}', CGI.escape(entity_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InlineResponse2001'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.delete_entity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#delete_entity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Events (Legacy): Delete
    # Delete an existing Event List.
    # @param account_id [String] 
    # @param list_id [String] ID of this List.
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @return [EmptyResponse]
    def delete_event_list(account_id, list_id, v, opts = {})
      data, _status_code, _headers = delete_event_list_with_http_info(account_id, list_id, v, opts)
      data
    end

    # Events (Legacy): Delete
    # Delete an existing Event List.
    # @param account_id [String] 
    # @param list_id [String] ID of this List.
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyResponse, Integer, Hash)>] EmptyResponse data, response status code and response headers
    def delete_event_list_with_http_info(account_id, list_id, v, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.delete_event_list ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.delete_event_list"
      end
      # verify the required parameter 'list_id' is set
      if @api_client.config.client_side_validation && list_id.nil?
        fail ArgumentError, "Missing the required parameter 'list_id' when calling KnowledgeManagerApi.delete_event_list"
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.delete_event_list"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/events/{listId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'listId' + '}', CGI.escape(list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.delete_event_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#delete_event_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Entity Language Profiles: Delete
    # Delete a language profile
    # @param account_id [String] 
    # @param entity_id [String] The external ID of the requested Entity
    # @param language_code [String] The language code corresponding to the language of the profile that the user wishes to delete
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2004]
    def delete_language_profile(account_id, entity_id, language_code, v, opts = {})
      data, _status_code, _headers = delete_language_profile_with_http_info(account_id, entity_id, language_code, v, opts)
      data
    end

    # Entity Language Profiles: Delete
    # Delete a language profile
    # @param account_id [String] 
    # @param entity_id [String] The external ID of the requested Entity
    # @param language_code [String] The language code corresponding to the language of the profile that the user wishes to delete
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2004, Integer, Hash)>] InlineResponse2004 data, response status code and response headers
    def delete_language_profile_with_http_info(account_id, entity_id, language_code, v, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.delete_language_profile ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.delete_language_profile"
      end
      if @api_client.config.client_side_validation && account_id.to_s.length < 0
        fail ArgumentError, 'invalid value for "account_id" when calling KnowledgeManagerApi.delete_language_profile, the character length must be great than or equal to 0.'
      end

      # verify the required parameter 'entity_id' is set
      if @api_client.config.client_side_validation && entity_id.nil?
        fail ArgumentError, "Missing the required parameter 'entity_id' when calling KnowledgeManagerApi.delete_language_profile"
      end
      if @api_client.config.client_side_validation && entity_id.to_s.length < 0
        fail ArgumentError, 'invalid value for "entity_id" when calling KnowledgeManagerApi.delete_language_profile, the character length must be great than or equal to 0.'
      end

      # verify the required parameter 'language_code' is set
      if @api_client.config.client_side_validation && language_code.nil?
        fail ArgumentError, "Missing the required parameter 'language_code' when calling KnowledgeManagerApi.delete_language_profile"
      end
      if @api_client.config.client_side_validation && language_code.to_s.length < 0
        fail ArgumentError, 'invalid value for "language_code" when calling KnowledgeManagerApi.delete_language_profile, the character length must be great than or equal to 0.'
      end

      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.delete_language_profile"
      end
      if @api_client.config.client_side_validation && v.to_s.length < 0
        fail ArgumentError, 'invalid value for "v" when calling KnowledgeManagerApi.delete_language_profile, the character length must be great than or equal to 0.'
      end

      # resource path
      local_var_path = '/accounts/{accountId}/entityprofiles/{entityId}/{languageCode}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'entityId' + '}', CGI.escape(entity_id.to_s)).sub('{' + 'languageCode' + '}', CGI.escape(language_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InlineResponse2004'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.delete_language_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#delete_language_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Language Profiles (Legacy): Delete
    # Remove a Language Profile from a location.
    # @param account_id [String] 
    # @param location_id [String] 
    # @param language_code [String] Locale code.
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @return [EmptyResponse]
    def delete_location_language_profile(account_id, location_id, language_code, v, opts = {})
      data, _status_code, _headers = delete_location_language_profile_with_http_info(account_id, location_id, language_code, v, opts)
      data
    end

    # Language Profiles (Legacy): Delete
    # Remove a Language Profile from a location.
    # @param account_id [String] 
    # @param location_id [String] 
    # @param language_code [String] Locale code.
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyResponse, Integer, Hash)>] EmptyResponse data, response status code and response headers
    def delete_location_language_profile_with_http_info(account_id, location_id, language_code, v, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.delete_location_language_profile ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.delete_location_language_profile"
      end
      # verify the required parameter 'location_id' is set
      if @api_client.config.client_side_validation && location_id.nil?
        fail ArgumentError, "Missing the required parameter 'location_id' when calling KnowledgeManagerApi.delete_location_language_profile"
      end
      # verify the required parameter 'language_code' is set
      if @api_client.config.client_side_validation && language_code.nil?
        fail ArgumentError, "Missing the required parameter 'language_code' when calling KnowledgeManagerApi.delete_location_language_profile"
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.delete_location_language_profile"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/locations/{locationId}/profiles/{language_code}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'locationId' + '}', CGI.escape(location_id.to_s)).sub('{' + 'language_code' + '}', CGI.escape(language_code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.delete_location_language_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#delete_location_language_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Menus: Delete
    # Delete an existing Menu.
    # @param account_id [String] 
    # @param list_id [String] ID of this List.
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @return [EmptyResponse]
    def delete_menu_list(account_id, list_id, v, opts = {})
      data, _status_code, _headers = delete_menu_list_with_http_info(account_id, list_id, v, opts)
      data
    end

    # Menus: Delete
    # Delete an existing Menu.
    # @param account_id [String] 
    # @param list_id [String] ID of this List.
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyResponse, Integer, Hash)>] EmptyResponse data, response status code and response headers
    def delete_menu_list_with_http_info(account_id, list_id, v, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.delete_menu_list ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.delete_menu_list"
      end
      # verify the required parameter 'list_id' is set
      if @api_client.config.client_side_validation && list_id.nil?
        fail ArgumentError, "Missing the required parameter 'list_id' when calling KnowledgeManagerApi.delete_menu_list"
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.delete_menu_list"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/menus/{listId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'listId' + '}', CGI.escape(list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.delete_menu_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#delete_menu_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Products: Delete
    # Delete an existing Products List.
    # @param account_id [String] 
    # @param list_id [String] ID of this List.
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @return [EmptyResponse]
    def delete_product_list(account_id, list_id, v, opts = {})
      data, _status_code, _headers = delete_product_list_with_http_info(account_id, list_id, v, opts)
      data
    end

    # Products: Delete
    # Delete an existing Products List.
    # @param account_id [String] 
    # @param list_id [String] ID of this List.
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyResponse, Integer, Hash)>] EmptyResponse data, response status code and response headers
    def delete_product_list_with_http_info(account_id, list_id, v, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.delete_product_list ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.delete_product_list"
      end
      # verify the required parameter 'list_id' is set
      if @api_client.config.client_side_validation && list_id.nil?
        fail ArgumentError, "Missing the required parameter 'list_id' when calling KnowledgeManagerApi.delete_product_list"
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.delete_product_list"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/products/{listId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'listId' + '}', CGI.escape(list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.delete_product_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#delete_product_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assets: Get
    # Get a specific asset.
    # @param account_id [String] 
    # @param asset_id [String] 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param format [String] Present if and only if type of subfield is \&quot;**Rich Text**.\&quot;  Valid values:   * &#x60;markdown&#x60;   * &#x60;html&#x60;   * &#x60;none&#x60; 
    # @param [Hash] opts the optional parameters
    # @return [AssetResponse]
    def get_asset(account_id, asset_id, v, format, opts = {})
      data, _status_code, _headers = get_asset_with_http_info(account_id, asset_id, v, format, opts)
      data
    end

    # Assets: Get
    # Get a specific asset.
    # @param account_id [String] 
    # @param asset_id [String] 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param format [String] Present if and only if type of subfield is \&quot;**Rich Text**.\&quot;  Valid values:   * &#x60;markdown&#x60;   * &#x60;html&#x60;   * &#x60;none&#x60; 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetResponse, Integer, Hash)>] AssetResponse data, response status code and response headers
    def get_asset_with_http_info(account_id, asset_id, v, format, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.get_asset ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.get_asset"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling KnowledgeManagerApi.get_asset"
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.get_asset"
      end
      # verify the required parameter 'format' is set
      if @api_client.config.client_side_validation && format.nil?
        fail ArgumentError, "Missing the required parameter 'format' when calling KnowledgeManagerApi.get_asset"
      end
      if @api_client.config.client_side_validation && format.to_s.length < 0
        fail ArgumentError, 'invalid value for "format" when calling KnowledgeManagerApi.get_asset, the character length must be great than or equal to 0.'
      end

      # resource path
      local_var_path = '/accounts/{accountId}/assets/{assetId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v
      query_params[:'format'] = format

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.get_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#get_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bios: Get
    # Retrieve a specific Bios List.
    # @param account_id [String] 
    # @param list_id [String] ID of this List.
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @return [BioListResponse]
    def get_bio(account_id, list_id, v, opts = {})
      data, _status_code, _headers = get_bio_with_http_info(account_id, list_id, v, opts)
      data
    end

    # Bios: Get
    # Retrieve a specific Bios List.
    # @param account_id [String] 
    # @param list_id [String] ID of this List.
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BioListResponse, Integer, Hash)>] BioListResponse data, response status code and response headers
    def get_bio_with_http_info(account_id, list_id, v, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.get_bio ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.get_bio"
      end
      # verify the required parameter 'list_id' is set
      if @api_client.config.client_side_validation && list_id.nil?
        fail ArgumentError, "Missing the required parameter 'list_id' when calling KnowledgeManagerApi.get_bio"
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.get_bio"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/bios/{listId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'listId' + '}', CGI.escape(list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BioListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.get_bio",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#get_bio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bios: List
    # Retrieve all Bio Lists for an account.
    # @param account_id [String] 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return. (default to 10)
    # @option opts [Integer] :offset  Number of results to skip. Used to page through results. Cannot be used together with **&#x60;pageToken&#x60;**.  (default to 0)
    # @return [BioListsResponse]
    def get_bios(account_id, v, opts = {})
      data, _status_code, _headers = get_bios_with_http_info(account_id, v, opts)
      data
    end

    # Bios: List
    # Retrieve all Bio Lists for an account.
    # @param account_id [String] 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of results to return.
    # @option opts [Integer] :offset  Number of results to skip. Used to page through results. Cannot be used together with **&#x60;pageToken&#x60;**. 
    # @return [Array<(BioListsResponse, Integer, Hash)>] BioListsResponse data, response status code and response headers
    def get_bios_with_http_info(account_id, v, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.get_bios ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.get_bios"
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.get_bios"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling KnowledgeManagerApi.get_bios, must be smaller than or equal to 50.'
      end

      # resource path
      local_var_path = '/accounts/{accountId}/bios'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BioListsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.get_bios",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#get_bios\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Categories: List
    # Get available Categories.  All Locations are required to have an associated Category to assist with organization and search. Yext provides a hierarchy of business categories for this purpose, exposed by this API. 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :language Only categories that apply to this language will be returned.  Valid values: ISO 639-1 language codes  **Example:** en 
    # @option opts [String] :country Only categories that apply in this country will be returned.  Valid values: ISO 3166-1 alpha-2 country codes  **Example:** US 
    # @option opts [String] :entity_type Only categories that apply to the specified entity type will be returned. 
    # @return [BusinessCategoriesResponse]
    def get_business_categories(v, opts = {})
      data, _status_code, _headers = get_business_categories_with_http_info(v, opts)
      data
    end

    # Categories: List
    # Get available Categories.  All Locations are required to have an associated Category to assist with organization and search. Yext provides a hierarchy of business categories for this purpose, exposed by this API. 
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :language Only categories that apply to this language will be returned.  Valid values: ISO 639-1 language codes  **Example:** en 
    # @option opts [String] :country Only categories that apply in this country will be returned.  Valid values: ISO 3166-1 alpha-2 country codes  **Example:** US 
    # @option opts [String] :entity_type Only categories that apply to the specified entity type will be returned. 
    # @return [Array<(BusinessCategoriesResponse, Integer, Hash)>] BusinessCategoriesResponse data, response status code and response headers
    def get_business_categories_with_http_info(v, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.get_business_categories ...'
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.get_business_categories"
      end
      allowable_values = ["atm", "event", "healthcareFacility", "healthcareProfessional", "location", "restaurant"]
      if @api_client.config.client_side_validation && opts[:'entity_type'] && !allowable_values.include?(opts[:'entity_type'])
        fail ArgumentError, "invalid value for \"entity_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'entityType'] = opts[:'entity_type'] if !opts[:'entity_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessCategoriesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.get_business_categories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#get_business_categories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Custom Fields: Get
    # Gets a specific Custom Field in an Account.
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param account_id [String] 
    # @param custom_field_id [String] ID that should be used when referencing the field in API calls. This ID will also serve as the Custom Field&#39;s key in our upcoming Entities API endpoints. Note that the Custom Fields can still be accessed using their numeric **&#x60;id&#x60;** by invoking the endpoints with a **&#x60;v&#x60;** param before &#x60;20180809&#x60;.  
    # @param [Hash] opts the optional parameters
    # @return [CustomFieldResponse]
    def get_custom_field(v, account_id, custom_field_id, opts = {})
      data, _status_code, _headers = get_custom_field_with_http_info(v, account_id, custom_field_id, opts)
      data
    end

    # Custom Fields: Get
    # Gets a specific Custom Field in an Account.
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param account_id [String] 
    # @param custom_field_id [String] ID that should be used when referencing the field in API calls. This ID will also serve as the Custom Field&#39;s key in our upcoming Entities API endpoints. Note that the Custom Fields can still be accessed using their numeric **&#x60;id&#x60;** by invoking the endpoints with a **&#x60;v&#x60;** param before &#x60;20180809&#x60;.  
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomFieldResponse, Integer, Hash)>] CustomFieldResponse data, response status code and response headers
    def get_custom_field_with_http_info(v, account_id, custom_field_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.get_custom_field ...'
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.get_custom_field"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.get_custom_field"
      end
      # verify the required parameter 'custom_field_id' is set
      if @api_client.config.client_side_validation && custom_field_id.nil?
        fail ArgumentError, "Missing the required parameter 'custom_field_id' when calling KnowledgeManagerApi.get_custom_field"
      end
      # resource path
      local_var_path = '/accounts/{accountId}/customfields/{customFieldId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'customFieldId' + '}', CGI.escape(custom_field_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.get_custom_field",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#get_custom_field\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Custom Fields: List
    # Returns a list of Custom Fields in an Account.
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset  Number of results to skip. Used to page through results. Cannot be used together with **&#x60;pageToken&#x60;**.  (default to 0)
    # @option opts [Integer] :limit Number of results to return. (default to 100)
    # @option opts [String] :page_token If a response to a previous request contained the **&#x60;pageToken&#x60;** field, pass that field&#39;s value as the **&#x60;pageToken&#x60;** parameter to retrieve the next page of data. 
    # @return [CustomFieldsResponse]
    def get_custom_fields(v, account_id, opts = {})
      data, _status_code, _headers = get_custom_fields_with_http_info(v, account_id, opts)
      data
    end

    # Custom Fields: List
    # Returns a list of Custom Fields in an Account.
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset  Number of results to skip. Used to page through results. Cannot be used together with **&#x60;pageToken&#x60;**. 
    # @option opts [Integer] :limit Number of results to return.
    # @option opts [String] :page_token If a response to a previous request contained the **&#x60;pageToken&#x60;** field, pass that field&#39;s value as the **&#x60;pageToken&#x60;** parameter to retrieve the next page of data. 
    # @return [Array<(CustomFieldsResponse, Integer, Hash)>] CustomFieldsResponse data, response status code and response headers
    def get_custom_fields_with_http_info(v, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.get_custom_fields ...'
      end
      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.get_custom_fields"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.get_custom_fields"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling KnowledgeManagerApi.get_custom_fields, must be smaller than or equal to 1000.'
      end

      # resource path
      local_var_path = '/accounts/{accountId}/customfields'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'pageToken'] = opts[:'page_token'] if !opts[:'page_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key', 'api_key']

      new_options = opts.merge(
        :operation => :"KnowledgeManagerApi.get_custom_fields",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KnowledgeManagerApi#get_custom_fields\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Entities: Get
    # Retrieve information for an Entity with a given ID
    # @param account_id [String] 
    # @param entity_id [String] The external ID of the requested Entity
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-separated list of field names. When present, only the fields listed will be returned. You can use dot notation to specify substructures (e.g., &#x60;\&quot;address.line1\&quot;&#x60;). Custom fields are specified in the same way, albeit with their &#x60;c_*&#x60; name.
    # @option opts [String] :format Present if and only if at least one field is of type \&quot;**Rich Text**.\&quot;  Valid values:   * &#x60;markdown&#x60;   * &#x60;html&#x60;   * &#x60;none&#x60;  (default to 'markdown')
    # @option opts [Boolean] :resolve_placeholders Optional parameter to resolve all embedded fields in a Location object response.   - &#x60;false&#x60;: Location object returns placeholder labels, e.g., \&quot;Your [[CITY]] store\&quot;   - &#x60;true&#x60;: Location object returns placeholder values, e.g., \&quot;Your Fairfax store\&quot;  (default to false)
    # @return [InlineResponse201]
    def get_entity(account_id, entity_id, v, opts = {})
      data, _status_code, _headers = get_entity_with_http_info(account_id, entity_id, v, opts)
      data
    end

    # Entities: Get
    # Retrieve information for an Entity with a given ID
    # @param account_id [String] 
    # @param entity_id [String] The external ID of the requested Entity
    # @param v [String] A date in &#x60;YYYYMMDD&#x60; format.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-separated list of field names. When present, only the fields listed will be returned. You can use dot notation to specify substructures (e.g., &#x60;\&quot;address.line1\&quot;&#x60;). Custom fields are specified in the same way, albeit with their &#x60;c_*&#x60; name.
    # @option opts [String] :format Present if and only if at least one field is of type \&quot;**Rich Text**.\&quot;  Valid values:   * &#x60;markdown&#x60;   * &#x60;html&#x60;   * &#x60;none&#x60; 
    # @option opts [Boolean] :resolve_placeholders Optional parameter to resolve all embedded fields in a Location object response.   - &#x60;false&#x60;: Location object returns placeholder labels, e.g., \&quot;Your [[CITY]] store\&quot;   - &#x60;true&#x60;: Location object returns placeholder values, e.g., \&quot;Your Fairfax store\&quot; 
    # @return [Array<(InlineResponse201, Integer, Hash)>] InlineResponse201 data, response status code and response headers
    def get_entity_with_http_info(account_id, entity_id, v, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KnowledgeManagerApi.get_entity ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling KnowledgeManagerApi.get_entity"
      end
      if @api_client.config.client_side_validation && account_id.to_s.length < 0
        fail ArgumentError, 'invalid value for "account_id" when calling KnowledgeManagerApi.get_entity, the character length must be great than or equal to 0.'
      end

      # verify the required parameter 'entity_id' is set
      if @api_client.config.client_side_validation && entity_id.nil?
        fail ArgumentError, "Missing the required parameter 'entity_id' when calling KnowledgeManagerApi.get_entity"
      end
      if @api_client.config.client_side_validation && entity_id.to_s.length < 0
        fail ArgumentError, 'invalid value for "entity_id" when calling KnowledgeManagerApi.get_entity, the character length must be great than or equal to 0.'
      end

      # verify the required parameter 'v' is set
      if @api_client.config.client_side_validation && v.nil?
        fail ArgumentError, "Missing the required parameter 'v' when calling KnowledgeManagerApi.get_entity"
      end
      if @api_client.config.client_side_validation && v.to_s.length < 0
        fail ArgumentError, 'invalid value for "v" when calling KnowledgeManagerApi.get_entity, the character length must be great than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'fields'].nil? && opts[:'fields'].to_s.length < 0
        fail ArgumentError, 'invalid value for "opts[:"fields"]" when calling KnowledgeManagerApi.get_entity, the character length must be great than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'format'].nil? && opts[:'format'].to_s.length < 0
        fail ArgumentError, 'invalid value for "opts[:"format"]" when calling KnowledgeManagerApi.get_entity, the character length must be great than or equal to 0.'
      end

      # resource path
      local_var_path = '/accounts/{accountId}/entities/{entityId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'entityId' + '}', CGI.escape(entity_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'v'] = v
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'format'] = opts[:'format'] if !opts[:'format'].nil?
      query_params[:'resolvePlaceholders'] = opts[:'resolve_placeholders'] if !opts[:'resolve_placeholders'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

[...]
